[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvloop = "*"
aiohttp = "*"
protobuf = "*"
requests = "*"
SQLAlchemy = "*"
ipython = "*"
gtfs-realtime-bindings = "*"

[dev-packages]

[requires]
python_version = "3.7"
